{% extends 'base.html' %}

{% load static %}

{% block title %}
  Главная
{% endblock %}

{% block content %}


<div class="content">
<div class="container_12">
<div class="grid_12">
    <div class="block1">
    <div class="grid_3 prefix_1 alpha">
        <h3>gift certificates</h3>
        Praesent vestibulum aenean nonummy hendrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus. <br> <a href="#" class="btn">get certificate!</a>
    </div>
    <div class="grid_3 prefix_1 ">
        <h3>meet our mobile version</h3>
        Praesent vestibulum aenean nonummy hendrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes ascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus  <br> <a href="#" class="btn">download now!</a>
    </div>
    <div class="grid_4 omega">
        <img src="{% static 'images/mob_img.png' %}" alt="" class="mob_img">
    </div>
    <div class="clear"></div>
    <div id="owl">
        <div class="item"><a href="#"><img class="" src="{% static 'images/logo1.png' %}" alt=""><img src="{% static 'images/blogo1.png' %}" alt=""></a></div>
        <div class="item"><a href="#"><img src="{% static 'images/logo2.png' %}" alt=""><img src="{% static 'images/blogo2.png' %}" alt=""></a></div>
        <div class="item"><a href="#"><img src="{% static 'images/logo3.png' %}" alt=""><img src="{% static 'images/blogo3.png' %}" alt=""></a></div>
        <div class="item"><a href="#"><img src="{% static 'images/logo4.png' %}" alt=""><img src="{% static 'images/blogo4.png' %}" alt=""></a></div>
        <div class="item"><a href="#"><img src="{% static 'images/logo5.png' %}" alt=""><img src="{% static 'images/blogo5.png' %}" alt=""></a></div>
        <div class="item"><a href="#"><img src="{% static 'images/logo6.png' %}" alt=""><img src="{% static 'images/blogo6.png' %}" alt=""></a></div>
        <div class="item"><a href="#"><img src="{% static 'images/logo7.png' %}" alt=""><img src="{% static 'images/blogo7.png' %}" alt=""></a></div>
        <div class="item"><a href="#"><img src="{% static 'images/logo1.png' %}" alt=""><img src="{% static 'images/blogo1.png' %}" alt=""></a></div>
        <div class="item"><a href="#"><img src="{% static 'images/logo2.png' %}" alt=""><img src="{% static 'images/blogo2.png' %}" alt=""></a></div>
        <div class="item"><a href="#"><img src="{% static 'images/logo3.png' %}" alt=""><img src="{% static 'images/blogo3.png' %}" alt=""></a></div>
        <div class="item"><a href="#"><img src="{% static 'images/logo4.png' %}" alt=""><img src="{% static 'images/blogo4.png' %}" alt=""></a></div>
        <div class="item"><a href="#"><img src="{% static 'images/logo5.png' %}" alt=""><img src="{% static 'images/blogo5.png' %}" alt=""></a></div>
        <div class="item"><a href="#"><img src="{% static 'images/logo6.png' %}" alt=""><img src="{% static 'images/blogo6.png' %}" alt=""></a></div>
        <div class="item"><a href="#"><img src="{% static 'images/logo7.png' %}" alt=""><img src="{% static 'images/blogo7.png' %}" alt=""></a></div>
    </div>
    <div class="clear"></div>
    <div class="block2">
        <div class="title"><span>25,000</span> reasons not to cook</div>
        <p>with 25,000 restaurant menus in  more than 100 US 
cities, we give you over a million dishes to choose from</p>
        <span>Enjoy.</span>
    </div>      
    </div>
    <h3 class="mb0">This week`s specials:<span class="col1">free shipping on orders over $99</span></h3>
    <div id="owl1">
    <div class="item"><a href="#">
        <div class="bord_img"><span></span><img src="{% static 'images/page1_img1.jpg' %}" alt=""></div>
        <div class="text1">Chinese <br>food<span class="col1">$15.99</span></div>
        </a></div>
    <div class="item"><a href="#">
        <div class="bord_img"><span></span><img src="{% static 'images/page1_img2.jpg' %}" alt=""></div>
        <div class="text1">seafood <br>pasta<span class="col1">$15.99</span></div>
        </a></div>
    <div class="item"><a href="#">
        <div class="bord_img"><span></span><img src="{% static 'images/page1_img3.jpg' %}" alt=""></div>
        <div class="text1">Seafood <br>Paella<span class="col1">$15.99</span></div>
        </a></div>
    <div class="item"><a href="#">
        <div class="bord_img"><span></span><img src="{% static 'images/page1_img4.jpg' %}" alt=""></div>
        <div class="text1">fast <br>food<span class="col1">$15.99</span></div>
        </a></div>
    <div class="item"><a href="#">
        <div class="bord_img"><span></span><img src="{% static 'images/page1_img5.jpg' %}" alt=""></div>
        <div class="text1">Lamb <br>steak<span class="col1">$15.99</span></div>
        </a></div>
    <div class="item"><a href="#">
        <div class="bord_img"><span></span><img src="{% static 'images/page1_img6.jpg' %}" alt=""></div>
        <div class="text1">Chocolate <br>cupcakes<span class="col1">$15.99</span></div>
        </a></div>
        <div class="item"><a href="#">
        <div class="bord_img"><span></span><img src="{% static 'images/page1_img1.jpg' %}" alt=""></div>
        <div class="text1">Chinese <br>food<span class="col1">$15.99</span></div>
        </a></div>
    <div class="item"><a href="#">
        <div class="bord_img"><span></span><img src="{% static 'images/page1_img2.jpg' %}" alt=""></div>
        <div class="text1">seafood <br>pasta<span class="col1">$15.99</span></div>
        </a></div>
    <div class="item"><a href="#">
        <div class="bord_img"><span></span><img src="{% static 'images/page1_img3.jpg' %}" alt=""></div>
        <div class="text1">Seafood <br>Paella<span class="col1">$15.99</span></div>
        </a></div>
    <div class="item"><a href="#">
        <div class="bord_img"><span></span><span></span><img src="{% static 'images/page1_img4.jpg' %}" alt=""></div>
        <div class="text1">fast <br>food<span class="col1">15.99</span></div>
        </a></div>
    <div class="item"><a href="#">
        <div class="bord_img"><span></span><img src="{% static 'images/page1_img5.jpg' %}" alt=""></div>
        <div class="text1">Lamb <br>steak<span class="col1">$15.99</span></div>
        </a></div>
    <div class="item"><a href="#">
        <div class="bord_img"><span></span><img src="{% static 'images/page1_img6.jpg' %}" alt=""></div>
        <div class="text1">Chocolate <br>cupcakes<span class="col1">$15.99</span></div>
        </a></div>
    </div>
</div>
</div>
</div>


{% endblock %}