{% extends 'base.html' %}

{% load static %}

{% block title %}
  Блюда
{% endblock %}

{% block content %}


<div class="content">
    <div class="container_12">
      <div class="grid_12">
        <h3>Our Menu &amp; Specials</h3>
        <div class="clear"></div>
        <ul class="banners ban1">
        <li><a href="#"><img src="images/ban_icon1.png" alt="">bbq</a></li>
        <li><a href="#"><img src="images/ban_icon2.png" alt="">seafood</a></li>
        <li><a href="#"><img src="images/ban_icon3.png" alt="">salads</a></li>
        <li><a href="#"><img src="images/ban_icon4.png" alt="">soups</a></li>
        <li><a href="#"><img src="images/ban_icon5.png" alt="">bakery</a></li>
        <li><a href="#"><img src="images/ban_icon6.png" alt="">desserts</a></li>
        <li><a href="#"><img src="images/ban_icon7.png" alt="">drinks</a></li>
        <li><a href="#"><img src="images/ban_icon8.png" alt="">pizza</a></li>
      </ul>
      </div>
      <div class="clear"></div>
      <div class="gallery">
        <div class="grid_3">
          <a href="images/big1.jpg" class="gal"><img src="images/page3_img1.jpg" alt=""></a>
          <div class="text1"><a href="#">vel ipsum auctor et</a><span class="col1">$15.99</span></div>
        </div>
        <div class="grid_3">
          <a href="images/big2.jpg" class="gal"><img src="images/page3_img2.jpg" alt=""></a>
          <div class="text1"><a href="#">vel ipsum auctor et</a><span class="col1">$15.99</span></div>
        </div>
        <div class="grid_3">
          <a href="images/big3.jpg" class="gal"><img src="images/page3_img3.jpg" alt=""></a>
          <div class="text1"><a href="#">vel ipsum auctor et</a><span class="col1">$15.99</span></div>
        </div>
        <div class="grid_3">
          <a href="images/big4.jpg" class="gal"><img src="images/page3_img4.jpg" alt=""></a>
          <div class="text1"><a href="#">vel ipsum auctor et</a><span class="col1">$15.99</span></div>
        </div>
        <div class="grid_3">
          <a href="images/big5.jpg" class="gal"><img src="images/page3_img5.jpg" alt=""></a>
          <div class="text1"><a href="#">vel ipsum auctor et</a><span class="col1">$15.99</span></div>
        </div>
        <div class="grid_3">
          <a href="images/big6.jpg" class="gal"><img src="images/page3_img6.jpg" alt=""></a>
          <div class="text1"><a href="#">vel ipsum auctor et</a><span class="col1">$15.99</span></div>
        </div>
        <div class="grid_3">
          <a href="images/big7.jpg" class="gal"><img src="images/page3_img7.jpg" alt=""></a>
          <div class="text1"><a href="#">vel ipsum auctor et</a><span class="col1">$15.99</span></div>
        </div>
        <div class="grid_3">
          <a href="images/big8.jpg" class="gal"><img src="images/page3_img8.jpg" alt=""></a>
          <div class="text1"><a href="#">vel ipsum auctor et</a><span class="col1">$15.99</span></div>
        </div>
        <div class="grid_3">
          <a href="images/big9.jpg" class="gal"><img src="images/page3_img9.jpg" alt=""></a>
          <div class="text1"><a href="#">vel ipsum auctor et</a><span class="col1">$15.99</span></div>
        </div>
        <div class="grid_3">
          <a href="images/big10.jpg" class="gal"><img src="images/page3_img10.jpg" alt=""></a>
          <div class="text1"><a href="#">vel ipsum auctor et</a><span class="col1">$15.99</span></div>
        </div>
        <div class="grid_3">
          <a href="images/big11.jpg" class="gal"><img src="images/page3_img11.jpg" alt=""></a>
          <div class="text1"><a href="#">vel ipsum auctor et</a><span class="col1">$15.99</span></div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}