{# pages/product_list.html #}

{% extends 'base.html' %}

{% load static %}

{% block title %}
  Блюда
{% endblock %}

{% block content %}
<div class="content">
    <div class="container_12">
      <div class="grid_12">
        <h3>Our Menu &amp; Specials</h3>
        <div class="clear"></div>
        <ul class="banners ban1">
          {% for category in categories %}
            <li><a href="{% url 'category_detail' category.pk %}"><img src="{{ category.image.url }}" alt="{{ category.name }}">{{ category.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="clear"></div>
      <div class="gallery">

        {% for food in products %}
        <div class="grid_3">
          <a href="{% url 'product_detail' food.pk %}" class="gal"><img src="{{ food.image.url }}" alt=""></a>
          <div class="text1"><a href="{% url 'product_detail' food.pk %}">{{ food.name }}</a><span class="col1">${{ food.price }}</span></div>
        </div>
        {% endfor %}
        
      </div>
    </div>
  </div>
{% endblock %}
